<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Restaurants Java Web</display-name>
	<servlet>
		<servlet-name>com.rp.rest.server.JerseyRestServer</servlet-name>
	</servlet>
	<servlet-mapping>
		<servlet-name>com.rp.rest.server.JerseyRestServer</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<!-- <security-constraint>
		<display-name>rpozzi-restaurants-auth</display-name>
		<web-resource-collection>
			<web-resource-name>rpozzi-restaurants</web-resource-name>
			<url-pattern>/</url-pattern>
			<url-pattern>/*</url-pattern>
			<url-pattern>/rpozzi-restaurants/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>USER</role-name>
		</auth-constraint>
	</security-constraint> -->
	<persistence-context-ref>
		<persistence-context-ref-name>jpa/entitymanager</persistence-context-ref-name>
		<persistence-unit-name>restaurant</persistence-unit-name>
	</persistence-context-ref>
	<resource-ref>
		<res-ref-name>jdbc/rpozziRestaurants</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<resource-ref>
		<res-ref-name>jdbc/rpozziRestaurantsDB2</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>home.html</welcome-file>
		<welcome-file>dbindex.html</welcome-file>
	</welcome-file-list>
</web-app>